/* =========================================
   GLOBAL ICON INTERACTION
========================================= */

.icon{
color: aquamarine;
  cursor: pointer;
  width: 20px;
}
@media (min-width:45rem) {
 .icon{

  width: 34px;
}
}

.drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;

          /* BIGGER touch area */
 

  cursor: grab;
  touch-action: none;   /* important for mobile dragging */
}

.drag-handle:active {
  cursor: grabbing;
}
