/* =========================================
   GLOBAL ICON INTERACTION
========================================= */

.icon{
color: aquamarine;
  cursor: pointer;
  width: 20px;
}
@media (min-width:45rem) {
 .icon{

  width: 34px;
}
}

